In [3]:
import pandas as pd

In [11]:
listing = pd.read_csv('data/reviews.csv')

In [16]:
max(listing['id'])

1308626175224594395

In [4]:
listingresume = pd.read_csv('data/calendar.csv')

C:\Users\H P\AppData\Local\Temp\ipykernel_24512\3602255022.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  listingresume = pd.read_csv('data/calendar.csv')

In [10]:
listingresume['adjusted_price'] = listingresume['adjusted_price'].fillna(0)
listingresume.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3109,2024-12-07,f,$100.00,0,2.0,30.0
1,3109,2024-12-08,t,$100.00,0,2.0,30.0
2,3109,2024-12-09,f,$100.00,0,2.0,30.0
3,3109,2024-12-10,f,$100.00,0,2.0,30.0
4,3109,2024-12-11,f,$100.00,0,2.0,30.0